# Node.js dependencies
node_modules/

# Build output
dist/
build/

#Typescript cache
*.tsbuildinfo

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local 
.env.*.local

# Editor-especific files
# .vscode/
.idea/
.DS_Store
*.swp
*.swo
Thumbs.db

# OS-especific files
.DS_Store
*.lock

#Other
coverage/
tmp/